* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poiret One", sans-serif;
}

body {
  background-color: darkred;
}

header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: black;
  opacity: 0.4;
}

header nav {
  margin: 0 auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav a {
  color: white;
  font-family: "Spirax", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
}

section {
  height: 100vh;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

section:last-child {
  margin-bottom: 0;
}

section h1 {
  font-family: "Spirax", sans-serif;
  font-size: 64px;
  color: darkred;
}

section p {
  color: #ffffff;
  font-size: 24px;
  background-color: darkred;
  padding: 0.5rem;
  text-align: center;
}

section ul {
  list-style-type: none;
  color: #ffffff;
  font-size: 20px;
  background-color: #000000;
  padding: 0.5rem;
  opacity: 0.6;
  font-weight: bold;
}

section p {
  font-weight: bold;
  opacity: 0.7;
}

.hot {
  background-image: url("assets/hot.jpg");
}

.juicy {
  background-image: url("assets/juicy.jpg");
}

.cozy {
  background-image: url("assets/cosy.jpg");
}

.list-container {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.7;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
